*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  /* 
  making font size to 10px so we can use 1 rem = 10px
  16px * 62.5 / 100 gives 10px
   */
  font-size: 62.5%;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  font-size: 1.5rem;
}

.container{
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.nav{
  background-color: wheat;
  text-align: center;
  height: 100%;
  width: 5vw;
}

h3{
  margin: 2rem auto;
}
.main{
  background-color: white;
  width: 95vw;
  height: 100%;
  /* using grid for layout */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 14fr;
}

.header{
  background-color: bisque;
  grid-row: 1/1;
  grid-column: 1/-1;
  padding: 1rem 2rem;
}

.header-nav{
  list-style: none;
position: relative;
}

.header-nav li{
  background-color: purple;
  color: white;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  margin: 0 1rem;
}

#delete{
  background-color: orangered;
  margin-left: auto;
  position: absolute;
  right: 0;
}

#delete:hover{
  color: red;
  background-color: white;
}
.email-list{
  background-color: whitesmoke;
  overflow: auto;

}

.email{
  height: 7.5rem;
  width: 25rem;
  margin: 2rem auto;
  background-color: olive;
  color: white;
  text-align: center;
}

.email-view{
background-color:white;
padding: 1rem;
/* text-align: center;
font-weight: bold; */
}

.additional-info{
background-color: whitesmoke;
text-align: center;
font-weight: bold;
}

@media (max-width: 1120px) {
  .email{
  height: 5rem;
  width: 15rem;
  margin: 2rem auto;

  }
}

@media (max-width: 650px) {
    html {
        font-size: 8px;
    }

  .nav{
    display: none;
  }

  .header{
    padding: 1rem;
  }

  .header-nav li{
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin: 0 0.25rem;
  }
  .email {
    height: 2.5rem;
    width: 10rem;
    margin: 2rem auto;

  }
}

